!gradle-wrapper.jar
!gradle-wrapper.properties
!src/**/build/
**/build/
*.apk
*.hprof
*.iml
*.iws
*.jks
*.keystore
*.log
.cxx/
.gradle
.gradle/
.idea/
.idea/*
.kotlin/
.signing/
/*/*/build
/*/build/
/*/local.properties
/out/
build/
cmake-build-*/
deploymentTargetDropDown.xml
google-services.json
local.properties
misc.xml
output.json
proguard/
render.experimental.xml
